We are drawing our data from a subsample of the American Community Survey (ACS) data from the year 2016. The ACS is a survey conducted annually by the U.S. Census Bureau, gathering long-form information previously collected in the Decennial (conducted in years ending 0) Census

This line of code clears the output. This way we can double check the code is actually running.
Also, we are importing packages we need to run our analysis.

In [1]:
import pandas as pd
import csv
from IPython.display import clear_output
for i in range(10):
    clear_output()

Importing the fip dataset. We . Manually identified RTW and non-RTW states, and created a CSV from this.

In [2]:
fipdata = pd.read_csv('https://raw.githubusercontent.com/EvanLih/PUBPOL599_Right_To_Work/master/Dataset/Right%20to%20Work%20by%20State.csv')

We are removing the unecessary columns from the fip dataset, and only keeping the "State" column at "Right to Work" column.

In [3]:
fipdata.drop(fipdata.columns[3:256], axis = 1, inplace = True)
fipdata.drop(fipdata.columns[1], axis = 1, inplace = True)

We are renaming the columns to make it easier to read

In [4]:
fipdata.rename(columns = {'Right to Work by State' :'State', 'Unnamed: 1' : 'FIPS', 'Unnamed: 2' : 'Right_to_Work'}, inplace = True)

We are dropping the first row of the dataset, as they don't contain values - only column names

In [5]:
fipdata.drop(fipdata.index[0], inplace = True)

Adding District of Columbia, as it is not present in original dataframe

In [6]:
fipdata = fipdata.append({'State': 'District of Columbia', 'Right_to_Work' : 1}, ignore_index = True)

Outputting the dataframe to make sure it looks ok.

In [7]:
fipdata

                   State Right_to_Work
0                Alabama             1
1                 Alaska             0
2                Arizona             1
3               Arkansas             1
4             California             0
5               Colorado             0
6            Connecticut             0
7               Delaware             0
8                Florida             1
9                Georgia             1
10                Hawaii             0
11                 Idaho             1
12              Illinois             0
13               Indiana             1
14                  Iowa             1
15                Kansas             1
16              Kentucky             1
17             Louisiana             1
18                 Maine             0
19              Maryland             0
20         Massachusetts             0
21              Michigan             1
22             Minnesota             0
23           Mississippi             1
24              Missouri             0
25               Montana             0
26              Nebraska             1
27                Nevada             1
28         New Hampshire             0
29            New Jersey             0
30            New Mexico             0
31              New York             0
32        North Carolina             1
33          North Dakota             1
34                  Ohio             0
35              Oklahoma             1
36                Oregon             0
37          Pennsylvania             0
38          Rhode Island             0
39        South Carolina             1
40          South Dakota             1
41             Tennessee             1
42                 Texas             1
43                  Utah             1
44               Vermont             0
45              Virginia             1
46            Washington             0
47         West Virginia             1
48             Wisconsin             1
49               Wyoming             1
50  District of Columbia             1

This line of code clears the output. This way we can double check the code is actually running.

In [8]:
from IPython.display import clear_output
for i in range(10):
    clear_output()

Reading in the ipums dataset

In [ ]:
ipumsdata = pd.read_stata('https://raw.githubusercontent.com/EvanLih/PUBPOL599_Right_To_Work/master/Dataset/ipums.dta')

Preparing for merge, so changing ipums dataset state column to match fipdata

In [ ]:
ipumsdata.rename(columns = {'statefip' : 'State'}, inplace = True)

Printing out a list of states to double check if everything is working

In [ ]:
test = ipumsdata['State'].unique()

Outputting Test to see if the state column is good

In [ ]:
list(test)

Checking the first ten rows of our IPUMS dataset.

In [ ]:
ipumsdata.head(10)

This line of code clears the output. This way we can double check the code is actually running.

In [ ]:
from IPython.display import clear_output
for i in range(10):
    clear_output()

We are merging the two dataframes into a new dataframe called combinedResults

In [ ]:
combinedResults = pd.merge(fipdata, ipumsdata, on = 'State', how = 'right')

#Cleaning Combined results
Drop total income column from table

In [ ]:
combinedResults.drop(combinedResults.columns[[2,5,6]], axis = 1, inplace = True)

Drop 999999 (N/A Values) from incwage column

In [ ]:
combinedResults = combinedResults[combinedResults.incwage != 999999]

Dropping weird data from age column

In [ ]:
combinedResults = combinedResults[combinedResults.age != "90 (90+ in 1980 and 1990)"]

convert age to numeric

In [ ]:
combinedResults.age=pd.to_numeric(combinedResults.age)

Limit results to working population 25-65.

In [ ]:

combinedResults = combinedResults[combinedResults.age > 25]
combinedResults = combinedResults[combinedResults.age < 65]

Replace the state name with the state you want to see. In this case, it is california. 
A simple test to see if the Right to Work column is outputting the correct value. 
This dataset only contains states, right to work, and incwage. We are ignoring 
inctot (total income), as we are primarily looking at wage data.

In [ ]:
combinedResults[combinedResults['State'].str.contains("California")]

With the finalized dataset, we are outputting the dataframe into a CSV for R data visualization/statistical analysis.

In [ ]:

import os  
combinedResults.to_csv('Cleaned_RTW_Dataset.csv')

One last test to see how our data looks.

In [ ]:
combinedResults.head(10)